<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension point="org.eclipse.sirius.componentization">
    <component class="defaultpackage.Activator"
               id="fr.ema.dedal.design"
	       name="dedal">
    </component>
  </extension>
<extension
      point="org.eclipse.sirius.externalJavaAction">
   <javaActions
         actionClass="fr.ema.dedal.design.OpenEmbeddedEditor"
         id="OpenEmbeddedEditor">
   </javaActions>
</extension>
<extension
      point="org.eclipse.sirius.externalJavaAction">
   <javaActions
         actionClass="fr.ema.dedal.design.ExternalJavaActionTest"
         id="fr.ema.dedal.design.externaljavaactiontestID">
   </javaActions>
</extension>
</plugin>
