<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="fr.ema.dedalstudio.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.core.runtime.products">
      <product
            name="DedalStudio Productn"
            application="fr.ema.dedalstudio.application">
         <property
               name="applicationCSS"
               value="platform:/plugin/fr.ema.dedalstudio/css/default.css">
         </property>
         <property
               name="appName"
               value="DedalStudio Application">
         </property>
         <property
               name="applicationXMI"
               value="fr.ema.dedalstudio/Application.e4xmi">
         </property>
      </product>
   </extension>

</plugin>
