<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dedal -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dedal.presentation.DedalModelWizardID"
            name="%_UI_DedalModelWizard_label"
            class="dedal.presentation.DedalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DedalModelFile.gif">
         <description>%_UI_DedalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dedal -->
      <editor
            id="dedal.presentation.DedalEditorID"
            name="%_UI_DedalEditor_label"
            icon="icons/full/obj16/DedalModelFile.gif"
            extensions="dedal"
            class="dedal.presentation.DedalEditor"
            contributorClass="dedal.presentation.DedalActionBarContributor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.ema.dedal.metamodel.editor.Application"
            name="DedalStudio">
         <property
               name="appName"
               value="DedalStudio">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.sirius.category"
            class="org.eclipse.sirius.ui.tools.internal.views.modelexplorer.ModelExplorerView"
            id="org.eclipse.sirius.ui.tools.views.model.explorer"
            name="Model Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity id="fr.ema.dedal.activity" name="Disabled activities"/>
	<activityPatternBinding
       activityId="fr.ema.dedal.activity"
       isEqualityPattern="false"
       pattern=".*/org.eclipse.search.*"/>
	<activityPatternBinding
       activityId="fr.ema.dedal.activity"
       isEqualityPattern="true"
       pattern="org.eclipse.ui.window.newWindow"/>
 	<activityPatternBinding
        activityId="fr.ema.dedal.activity"
        isEqualityPattern="false"
        pattern=".*/org.eclipse.ui.window.*"/>
 	<activityPatternBinding
        activityId="fr.ema.dedal.activity"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.window.showKeyAssist"/>
    <activityPatternBinding
        activityId="fr.ema.dedal.activity"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ToggleCoolbarAction"/>
   </extension>
   
</plugin>
